body{
  background-color: #EFEFF2;
  margin: 0;
  color: #19191C;
  font: 400 18px/28px Inter, sans-serif;
}
.container{
  width: 1440px;
  margin: 0 auto;
} 
.header{
  display: flex;
  justify-content: space-between;
  padding: 36px 0 0;
} 
.header__box{
  display: flex; 
  align-items: center; 
  gap: 68px; 
  
} 
.nav__list{
  display: flex; 
  list-style: none;
  gap: 48px;
  padding: 0;
  margin: 0; 
  font-size: 18px; 
  line-height: 22px;  
  font-weight: 600;
} 
.link{
  color: #19191C; 
  text-decoration: none; 
}
.btn-box{
  display: flex; 
  gap: 48px; 
  align-items: center; 
}
.logo{
  font-weight: 800;
  font-size: 24px;
  line-height: 30px; 
  display: flex; 
  align-items: center;
  gap: 14px; 
  color: #19191C; 
  text-decoration: none;
} 
.header__link{
  color: #19191C; 
  font-size: 18px; 
  line-height: 22px;  
  font-weight: 600; 
  text-decoration: none;
} 
.header__btn{
  background: #19191C; 
  color: #EFEFF2; 
  padding: 12px 37px;
  font-size: 18px; 
  line-height: 22px;  
  font-weight: 700; 
  text-decoration: none;
} 
/* Footer */
.footer {
  background: #19191c;
  min-height: 474px;
}

.footer__logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 43px;
  text-decoration: none;
}

.footer__logo-text {
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  color: #fbfbfc;
  transition: color 0.4s ease;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__section {
  margin-top: 68px;
}

.footer__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #fbfbfc;
  margin: 0;
  margin-bottom: 28px;
}

.footer__contact-link {
  color: #fbfbfc;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-decoration: none;
  transition: color 0.4s ease;
}

.footer__contact-link:hover {
  color: #4a90e2;
}

.footer__contact-p {
  margin-bottom: 28px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-bottom: 8px;
}

.footer__link {
  color: #efeff2;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  transition: color 0.4s ease;
}

.footer__link:hover {
  color: #4a90e2;
}

.footer__logo-link:hover .footer__logo-text {
  color: #4a90e2;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #6d6d77;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 100px;
  gap: 14px;
}

.footer__policy {
  color: #6d6d77;
  display: flex;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__copy {
  margin: 0;
}

.footer__policy:hover {
  color: #4a90e2;
}






